header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 30px 0px;
}

h1 {
    font-family: 'Baloo Bhai', serif;
    font-weight: normal;
    font-size: 70px;
    color: #3C4D9F;
    margin: 0px 20px;
    padding: 0px;
}

header form, header p, .splashPitch form {
    font-family: 'Comfortaa', sans-serif;
    align-self: center;
    display: flex;
    align-items: baseline;
    margin: 12px;
    position: relative;
}

header form input, .splashPitch form input {
    font-size: 18px;
    width: 10em;
    font-family: 'Comfortaa', sans-serif;
    color: #767586;
    padding: 8px 12px 4px 12px;
    outline: none;
    border-radius: 10px;
    border: 0px solid #767586;
    box-shadow: 0px 0px 6px -1px #767586;
}

header form label, .splashPitch form label {
    font-size: 18px;
    color: #767586;
    position: absolute;
    left: 8px;
    top: 8px;
    pointer-events: none;
    transition: .2s;
}

header input:focus + label, header input:valid + label, .splashPitch input:focus + label, .splashPitch input:valid + label {
    opacity: 0;
}

button, header button, .splashPitch button {
    font-family: 'Comfortaa', sans-serif;
    color: #ffffff;
    background: #D56065;
    font-size: 18px;
    padding: 7px 12px;
    margin-left: 10px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    position: relative;
    top: -2px;
}

button:hover {
    cursor: pointer;
    background: #767586;
}

/* SEE Profile.css for other styling on this button; this is here to override the above */
.info button {
    border-radius: 0px;
}
