main.signup {
    flex-direction: column;
}

.signup h2 {
    align-self: center;
}

div.input {
    position: relative;
}

.signup form {
    font-family: 'Comfortaa', sans-serif;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 12px;
    position: relative;
}

.signup input {
    font-size: 18px;
    width: 24em;
    font-family: 'Comfortaa', sans-serif;
    color: #767586;
    padding: 8px 12px 4px 12px;
    margin: 0px 0px 22px 0px;
    outline: none;
    border-radius: 10px;
    border: 0px solid #767586;
    box-shadow: 0px 0px 6px -1px #767586;
}

.signup label {
    font-size: 18px;
    color: #767586;
    position: absolute;
    left: 8px;
    top: 8px;
    pointer-events: none;
    transition: .2s;
}

.signup input:focus + label, .signup input:valid + label {
    font-size: 12px;
    top: -8px;
    padding: 0px 6px;
    background: #ffffff;
}

.signup button {
    font-family: 'Comfortaa', sans-serif;
    color: #ffffff;
    background: #D56065;
    font-size: 18px;
    padding: 7px 12px;
    margin-left: 10px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    align-self: flex-end;
}