@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Comfortaa&display=swap');

html {
  margin: 0;
  padding: 0;
  background-image: url(./images/background2.svg);
  background-size: 100vw;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #3C4D9F;
}

a:hover {
  text-decoration: underline;
}
